<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="tr" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="tr" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="tr" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="tr" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Odanı tasarla - Evimde Gör</title>
  <meta name="description" content="Mobilyanıza uygun halıyı kendi odanızın içinde anında canlı görün.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="semantic/dist/components/button.min.css">
  <link rel="stylesheet" href="semantic/dist/components/form.min.css">
  <link rel="stylesheet" href="semantic/dist/components/icon.min.css">
  <link rel="stylesheet" href="components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="ng-dialog/css/ngDialog.min.css">
  <link rel="stylesheet" href="ng-dialog/css/ngDialog-theme-default.min.css">
  <link rel="stylesheet" href="stylesheets/detail.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,500,700,800' rel='stylesheet' type='text/css'>
  <!-- #fonts -->

</head>
<body class="enterscreen">

  <div ng-view></div>

  
  <script src="angular/angular.min.js"></script>
  <script src="angular-route/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="views/view1/view1.js"></script>
  <script src="views/design_view/design.js"></script>
  <script src="views/upload_view/upload.js"></script>
  <script src="ng-file-upload/ng-file-upload.min.js"></script>
  <script src="ng-dialog/js/ngDialog.min.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  
  <script type="text/javascript" src="javascripts/transform/dist/Utils.min.js"></script>
  <script type="text/javascript" src="javascripts/transform/dist/TransformTool.min.js"></script>
  <script type="text/javascript" src="javascripts/transform/dist/DOMTransformTool.min.js"></script>
  <script type="text/javascript" src="javascripts/transform/dist/TransformDOMPictures.min.js"></script>

</body>
</html>
