	<div class="top_bar">
		<a href="#" id="logo">
			<img src="img/logo.png" alt="">
		</a>
	</div>

	
	<div class="buton--out">
	<div class="start_buttons">

		<div class="top-cart-contain pull-left"> 
		    <div class="btn-cart design_now">
		      <div class="basket dropdown-toggle"> 
		      		<a ng-click="redirect_design(1)"> 
		      			<span class="price">ODANI ŞİMDİ TASARLA</span>
		      		</a> 

		      </div>
		    </div>
		  </div>

		  <div style="clear:both"></div>
		  

		  <div class="top-cart-contain pull-left"> 
		    <div class="btn-cart add_photo">
		      <div class="basket dropdown-toggle "> 
		      		<a ng-click="redirect_design(2)"> 
		      			<span class="price">ODA GÖRÜNTÜSÜ EKLE</span>
		      		</a> 
		      </div>
		    </div>
		  </div>

		  <div style="clear:both"></div>
		
		<!--
			<button type="button" class="btn btn-success" ng-click="redirect_design(1)">Tasarla</button>
			<button type="button" class="btn btn-primary" ng-click="redirect_design(2)">Fotoğraf Yükle</button>
		-->
	</div>
	</div>
